body { margin: 30px; }
.usernameSymbolEditUserPage {
    position: relative;
    color: #111;
    font-size: 18px;
}


.usernameSymbolEditUserPage input { text-indent: 30px;}

.usernameSymbolEditUserPage .fa-at  { 
  position: absolute;
  top: 30px;
  left: 4px;
  padding: 9px;
}

.resizeFix {
	resize: vertical;
}

.backgroundCol {
	background-color: #131433;
}